<section>
    <div class="container pb-10 lg:pb-20">
        <div class="flex flex-col gap-4 items-center text-center pb-10 lg:pb-16">
            <div>
                <span class="text-muted text-xxl">AUSDONE PERSONAL SUPPORT</span>
            </div>
            <div>
                <span
                        class="text-muted text-2xl xs:text-4xl sm:text-5xl lg:text-6xl xl:text-7xl font-bold"
                >We offer a full range of services</span
                >
            </div>
            <div>
                <span class="text-muted text-base sm:text-lg md:text-xl lg:text-xxl"
                >We understand every family is different and we offer a full range to support you
                  and your family. We have an amazing team of carers that are always happy to assit
                  when needed.
                </span>
            </div>
        </div>
        <div class="flex flex-row  ">
            <div
                    class="flex-1 flex lg:flex-row flex-col lg:items-stretch lg:gap-0 gap-4 text-left text-muted"
            >
                <div class="">
                    <img src="../images/card_01.svg" alt="card-1" />
                </div>
                <div class="flex flex-col lg:ml-10 gap-2">
                    <h3 class="text-2xl xs:text-3xl sm:text-4xl font-bold">Personal care</h3>
                    <p class="text-lg xs:text-xl sm:text-2xl">
                        Do you need help getting in and out of bed, bathing, or getting dressed and
                        looking sharp? We can help support you throughout your day
                    </p>
                    <ul
                            class="list-image-[url('../images/ok.svg')] lg:ml-0 ml-7 text-left text-base sm:text-lg lg:text-xxl"
                    >
                        <li class="">Showering, bathing</li>
                        <li>Hygine and grooming</li>
                        <li>Podiatry, physio and other therapies</li>
                        <li>Nursing, wound care & medications</li>
                        <li>Help with impairments or continence</li>
                        <li>Mobility & excersie assistance</li>
                    </ul>
                </div>
            </div>
            <div
                    class="flex-1 flex lg:flex-row flex-col lg:items-stretch lg:gap-0 gap-4 text-left text-muted"
            >
                <div class="">
                    <img src="./images/card_03.svg" alt="card-1" />
                </div>
                <div class="flex flex-col lg:ml-10 gap-2">
                    <h3 class="text-2xl xs:text-3xl sm:text-4xl font-bold">Household assitance</h3>
                    <p class="text-lg xs:text-xl sm:text-2xl">
                        We can do your household cores and help with many daily tasks or just provide
                        companionship
                    </p>
                    <ul
                            class="mt-auto list-image-[url('../images/ok.svg')] lg:ml-0 ml-7 text-left text-base sm:text-lg lg:text-xxl"
                    >
                        <li class="">Cleaning, laundry & dishwashing</li>
                        <li>Other household cores</li>
                        <li>Home or garden maintenance</li>
                        <li>Changes to home eg. ramps or hand rails</li>
                        <li>Meals and food preperation</li>
                        <li>TV, movies and games</li>
                    </ul>
                </div>
            </div>
            <div
                    class="flex-1 flex lg:flex-row flex-col lg:items-stretch text-left lg:gap-0 gap-4 text-muted"
            >
                <div class="h-screen">
                    <img class="object-scale-down" src="./images/card_02.svg" alt="card-1" />
                </div>
                <div class="flex flex-col lg:ml-10 gap-2">
                    <h3 class="text-2xl xs:text-3xl sm:text-4xl font-bold">Transport & mobility</h3>
                    <p class="text-lg xs:text-xl sm:text-2xl">
                        All of our care givers have a drivers license and can assist in anyway they can
                    </p>
                    <ul
                            class="mt-auto list-image-[url('../images/ok.svg')] lg:ml-0 ml-7 text-left text-base sm:text-lg lg:text-xxl"
                    >
                        <li class="">Medical appointments</li>
                        <li>Aids to stay independent</li>
                        <li>Social outings, groups and hosting vistors</li>
                        <li>Transport and taxi vouchers</li>
                        <li>Help paying bills</li>
                        <li>Grocery shopping and errans</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>