{% set logo = header.mainLogo.one() %}
{% if logo %}
<a href="{{ alias('@web') }}">
    <img
        class="max-w-[150px] 2xl:max-w-[200px]"
        src="{{ logo.url }}"
        alt="Ausdone logo"
    />
</a>
{% endif %}