<div class="fixed inset-0 opacity-0 invisible  menuDiv  flex flex-col justify-between overflow-y-auto">
            <div class="backdrop opacity-0 invisible bg-black/30 fixed inset-0 z-[999]"></div>
            <div
                class="fixed translate-x-full  p-[50px_30px] top-0 right-0 bottom-0 z-[9999] bg-white max-w-[500px] w-full">
                <button class="absolute top-[10px] right-[15px]" id="closeButton">
                    <img src="/images/close.svg" alt="" class="h-6 w-6">
                </button>
                <div>
                    <ul class="flex w-full flex-col items-start ">
                        <li class="w-full"><a href="#"
                                class="w-full flex py-3 font-HelNeue text-[#000] 2xl:text-[20px] text-[16px] font-normal hover:text-[#1F7B76] transition-all border-b border-[#CECECE]">Our
                                Services</a></li>
                        <li class="w-full"><a href="#"
                                class="w-full flex py-3 font-HelNeue text-[#000] 2xl:text-[20px] text-[16px] font-normal hover:text-[#1F7B76] transition-all border-b border-[#CECECE]">Request
                                a Carer</a>
                        </li>
                        <li class="w-full"><a href="#"
                                class="w-full flex py-3 font-HelNeue text-[#000] 2xl:text-[20px] text-[16px] font-normal hover:text-[#1F7B76] transition-all border-b border-[#CECECE]">NDIS
                                Provider</a></li>
                        <li class="w-full"><a href="#"
                                class="w-full flex py-3 font-HelNeue text-[#000] 2xl:text-[20px] text-[16px] font-normal hover:text-[#1F7B76] transition-all border-b border-[#CECECE]">Looking
                                for Work</a>
                        </li>
                        <li class="w-full"><a href="#"
                                class="w-full flex py-3 font-HelNeue text-[#000] 2xl:text-[20px] text-[16px] font-normal hover:text-[#1F7B76] transition-all border-b border-[#CECECE]">About
                                Us</a></li>
                        <li class="w-full"><a href="#"
                                class="w-full flex py-3 font-HelNeue text-[#000] 2xl:text-[20px] text-[16px] font-normal hover:text-[#1F7B76] transition-all border-b border-[#CECECE]">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="flex flex-col gap-[16px]">
                    <a href="#"
                        class=" 2xl:text-[20px] text-[16px]  h-[44px] inline-flex items-center justify-center bg-[#1F7B76] text-white rounded-[22px] py-[7px] 2xl:px-[30px] px-[20px] hover:bg-[#a4cbc9] hover:text-[#1F7B76] transition-all">Looking
                        for
                        Work</a>
                    <a href="#"
                        class=" 2xl:text-[20px] text-[16px]   h-[44px] inline-flex items-center justify-center bg-[#6C2B77] text-white rounded-[22px]  py-[7px] 2xl:px-[30px] px-[20px] hover:bg-[#cd8bd8] hover:text-[#6C2B77] transition-all">Looking
                        for
                        Carers</a>
                </div>
            </div>
        </div>