<div class="xl:flex-1 xl:block hidden">
                    <ul class="flex items-center 2xl:gap-[32px] gap-[16px]">
                        <li><a href="#"
                                class="font-HelNeue text-[#000] 2xl:text-[20px] text-[16px] font-normal hover:text-[#1F7B76] transition-all">Our
                                Services</a></li>
                        <li><a href="#"
                                class="font-HelNeue text-[#000] 2xl:text-[20px] text-[16px] font-normal hover:text-[#1F7B76] transition-all">Request
                                a Carer</a>
                        </li>
                        <li><a href="#"
                                class="font-HelNeue text-[#000]  2xl:text-[20px] text-[16px] font-normal hover:text-[#1F7B76] transition-all">NDIS
                                Provider</a></li>
                        <li><a href="#"
                                class="font-HelNeue text-[#000]  2xl:text-[20px] text-[16px]  font-normal hover:text-[#1F7B76] transition-all">Looking
                                for Work</a>
                        </li>
                        <li><a href="#"
                                class="font-HelNeue text-[#000]  2xl:text-[20px] text-[16px]  font-normal hover:text-[#1F7B76] transition-all">About
                                Us</a></li>
                        <li><a href="#"
                                class="font-HelNeue text-[#000]  2xl:text-[20px] text-[16px]  font-normal hover:text-[#1F7B76] transition-all">Contact</a>
                        </li>
                    </ul>
                </div>