<div class="xl:flex hidden items-center justify-evenly lg:text-base 3xl:text-xl text-black w-full font-HelveticaNeue font-normal">
    <a class="hover:text-primary transition-colors" href="#">Our Services</a>
    <a class="hover:text-primary transition-colors" href="#">Request a Carer</a>
    <a class="hover:text-primary transition-colors" href="#">NDIS Provider</a>
    <a class="hover:text-primary transition-colors" href="./pages/looking_for_work.html" >Looking for Work</a>
    <a class="hover:text-primary transition-colors" href="#">About Us</a>
    <a class="hover:text-primary transition-colors" href="#">Contact</a>
</div>