{% set navLinks = craft.navigation.nodes().handle('mainMenu').level(1).all() %}
<div class="pl-4 xl:flex gap-4 hidden items-center justify-start lg:text-base 3xl:text-xl text-black w-full font-HelveticaNeue font-normal">
    {% for node in navLinks %}
    <a class="hover:text-primary transition-colors" href="{{ node.url }}" target="{{ node.newWindow ? '_blank' }}">
        {{ node.title }}
    </a>
    {% endfor %}
</div>