<div class="xl:flex hidden gap-4 items-center font-HelveticaNeue">
    <button
            class="2xl:px-5 px-3 py-2 text-base 2xl:text-xl bg-primary hover:bg-primary-muted hover:text-primary transition-colors font-normal text-white whitespace-nowrap rounded-full">
        <a href="./pages/looking_for_work.html">
            <span>Looking for Work</span>
        </a>
    </button>
    <button
            class="2xl:px-5 px-3 py-2 text-base 2xl:text-xl bg-purple hover:bg-purple/30 hover:text-purple transition-colors font-normal text-white whitespace-nowrap rounded-full">
            <a href="#" >
                <span>Looking for Carer</span>
            </a>
    </button>
</div>