<div class="xl:flex hidden items-center gap-[19px]">
    <a href="#"
        class=" 2xl:text-[20px] text-[16px]  h-[44px] inline-flex items-center justify-center bg-[#1F7B76] text-white rounded-[22px] py-[7px] 2xl:px-[30px] px-[20px] hover:bg-[#a4cbc9] hover:text-[#1F7B76] transition-all">Looking
        for
        Work</a>
    <a href="#"
        class=" 2xl:text-[20px] text-[16px]   h-[44px] inline-flex items-center justify-center bg-[#6C2B77] text-white rounded-[22px]  py-[7px] 2xl:px-[30px] px-[20px] hover:bg-[#cd8bd8] hover:text-[#6C2B77] transition-all">Looking
        for
        Carers</a>

</div>