<div
            class="text-center px-4 uppercase bg-[#1F7B76] text-white font-openSans 2xl:text-[22px] lg:text-[18px] sm:text-[14px] text-[12px] sm:py-[11px] py-[6px]">
            TALK TO OUR FRIENDLY STAFF TO ARRANGE A CARER FOR YOUR LOVED ONE CALL (02) 9876 34565555
</div>