<div class="bg-primary font-openSans 1xl:text-xxl lg:text-lg sm:text-sm px-3 text-xs text-white h-14 text-center uppercase flex justify-center items-center">
    <div>
        <div class="content">
            {{ header.headerBanner }}
        </div>
    </div>
</div>