<section class="pt-16 pb-32 container">
    <div class="max-w-7xl xs:px-4 mx-auto">
        <div class="flex flex-col gap-y-10 md:flex-row gap-x-14">
            <div class="flex-1 flex flex-col gap-10">
                <div class="">
                    {{ block.textContent }}
                </div>
            </div>
            <div class="flex-1 bg-secondary-light p-4 sm:p-8 lg:p-12">

                {% set form = block.formieForm.one() %}
                {% if form %}
                    {% set renderOptions = {

                        themeConfig: {
                            fieldLabel: {
                                resetClass: true,
                                attributes: {
                                    class: 'text-muted text-xl font-bold md:text-2xl',
                                },
                            },
                            submitButton: {
                                resetClass: true,
                                attributes: {
                                    class: 'bg-primary mt-10 hover:bg-primary-muted font-semibold text-base md:text-lg text-white hover:text-primary transition-colors px-4 py-2 rounded-full w-fit',
                                },
                            }
                        },
                    } %}

                    {% set workerId = craft.app.request.getQueryParam('workerId') %}
                    {% if workerId %}
                        {% set relatedEntry = craft.entries.id(workerId).one() %}
                        {% if relatedEntry %}
                            {% do form.setRelations([relatedEntry]) %}
                        {% endif  %}
                    {% endif %}

                    {{ craft.formie.renderForm(form, renderOptions) }}
                {% endif %}

            </div>
        </div>
    </div>
</section>