<footer class="bg-footer bg-cover py-[40px]">
        <div class="lg:container mx-auto px-4">
            <div class="grid xl:grid-cols-4 sm:grid-cols-2 grid-cols-1 2xl:gap-[100px] gap-[30px]">
                <div>
                    <div class="sm:min-h-[39px]">
                        <a href="#"><img src="/images/logo-white.svg" alt="" class="sm:h-auto h-[24px]"></a>
                    </div>
                    <div>
                        <span class=" inline-block h-[4px] w-[100px] bg-[#1F7B76]"></span>
                    </div>
                    <p
                        class="font-openSans 2xl:text-[19px] sm:text-[16px] text-[14px] text-white max-w-[315px] sm:mt-[30px] mt-[16px] sm:mb-[50px] mb-[25px]">
                        Ausdone cares for
                        your
                        family like
                        it is our own.
                        We will always treat our clients with respect
                        and understanding.</p>
                    <img src="/images/ndis-white.svg" alt="">
                </div>
                <div>
                    <h3
                        class="font-bold font-openSans sm:leading-[39px] leading-[26px] sm:text-[32px] text-[22px] text-white">
                        Contact</h3><span class=" inline-block h-[4px] w-[100px] bg-[#1F7B76]"></span>
                    <div class="flex items-start mt-[24px] gap-[8px]">
                        <i class="inline-block relative top-[9px] min-w-[24px]"><img src="/images/pin.svg" alt=""></i>
                        <div class="flex-1">
                            <p class="2xl:text-[19px] sm:text-[16px] text-[14px] text-white ">123 Smith Street <br>
                                Sydney NSW 2001</p>
                        </div>
                    </div>
                    <div class="flex items-start mt-[24px]  gap-[8px]">
                        <i class="inline-block relative top-[9px] min-w-[24px]"><img src="/images/envelope.svg"
                                alt=""></i>
                        <div class="flex-1">
                            <p class="2xl:text-[19px] sm:text-[16px] text-[14px] text-white ">info@ausdone.com.au1</p>
                        </div>
                    </div>
                    <div class="flex items-start mt-[24px]  gap-[8px]">
                        <i class="inline-block relative top-[9px] min-w-[24px]"><img src="/images/phone.svg" alt=""></i>
                        <div class="flex-1">
                            <p class="2xl:text-[19px] sm:text-[16px] text-[14px] text-white ">(02) 9878 4433 (9am-5pm)
                                <br>
                                0410 567 443 (After Hours)
                            </p>
                        </div>
                    </div>
                </div>

                <div>
                    <h3
                        class="font-bold font-openSans sm:leading-[39px] leading-[26px] sm:text-[32px] text-[22px] text-white">
                        Work for us</h3><span class=" inline-block h-[4px] w-[100px] bg-[#1F7B76]"></span>
                    <p class="2xl:text-[19px] sm:text-[16px] text-[14px] text-white sm:my-[24px] my-[16px]">We are
                        always looking for
                        quality
                        candidates to join our
                        caring
                        team. Please apply if
                        you have the following</p>
                    <ul>
                        <li class="flex items-center gap-[13px] my-[7px]">
                            <i>
                                <img src="/images/check-white.svg" alt="">
                            </i>
                            <p class="2xl:text-[19px] sm:text-[16px] text-[14px] text-white flex-1">Certificate III & IV
                                Home Care</p>
                        </li>
                        <li class="flex items-center gap-[13px] my-[7px]">
                            <i>
                                <img src="/images/check-white.svg" alt="">
                            </i>
                            <p class="2xl:text-[19px] sm:text-[16px] text-[14px] text-white  flex-1">Drivers Licence</p>
                        </li>
                        <li class="flex items-center gap-[13px] my-[7px]">
                            <i>
                                <img src="/images/check-white.svg" alt="">
                            </i>
                            <p class="2xl:text-[19px] sm:text-[16px] text-[14px] text-white flex-1">Checkable Refrences
                            </p>
                        </li>
                        <li class="flex items-center gap-[13px] my-[7px]">
                            <i>
                                <img src="/images/check-white.svg" alt="">
                            </i>
                            <p class="2xl:text-[19px] sm:text-[16px] text-[14px] text-white  flex-1">Positive Attitude
                            </p>
                        </li>
                        <li class="mt-[15px]">
                            <a href="#" class="inline-flex items-center gap-[13px] underline text-[#D6D02F]">
                                <i>
                                    <img src="/images/chevicon-right.svg" alt="">
                                </i>
                                <span>Apply Here</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div>
                    <h3
                        class="font-bold font-openSans sm:leading-[39px] leading-[26px] sm:text-[32px] text-[22px] text-white">
                        Subscribe
                    </h3><span class=" inline-block h-[4px] w-[100px] bg-[#1F7B76]"></span>
                    <p class="2xl:text-[19px] sm:text-[16px] text-[14px] text-white sm:my-[24px] my-[16px]">Join our
                        newsletter to
                        stay up to date
                        with the latest
                        NDIS information</p>

                    <div class="flex gap-[15px]">
                        <div class="flex-1">
                            <input type="text"
                                class="w-full rounded-[9px] sm:h-[52px] h-[40px] px-4 py-2 2xl:text-[19px] sm:text-[16px] text-[14px] ring-[#1F7B76] focus:ring-[#1F7B76] focus:outline-1 outline-[#1F7B76]"
                                placeholder="Email  Address">
                        </div>
                        <button
                            class="sm:p-3 px-3 border border-[#707070] rounded-[9px] transition-all hover:bg-[#1F7B76]">
                            <img src="/images/envelope2.svg" alt="" class="sm:h-auto h-4">
                        </button>
                    </div>

                    <p class="2xl:text-[19px] sm:text-[16px] text-[14px] text-white my-[24px]">We will never share or
                        sell your email
                        address</p>
                </div>
            </div>
        </div>
    </footer>