<header class="flex flex-col shadow-lg">
    {% include '_components/header/top_strip_banner' %}

    <div class="flex items-center justify-between container py-4 gap-2 2xl:gap-5">
        {% include '_components/header/logo' %}
        {% include '_components/header/navigation_wide_screen' %}
        {% include '_components/header/rightside_buttons' %}
        {% include '_components/header/language-switcher' %}
        {% include '_components/header/navigation_narrow_screen' %}

    </div>

</header>